.articles-section {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    padding-top: 100px;
    
  }
  
  .articles-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    height: 500px; /* Justera detta värde efter behov */
    overflow: hidden;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-wrapper {
    text-align: left;
  }
  
  .articles-section h1, .articles-section h3 {
    margin: 10px;
  }
  
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
  }
  
  .article-card {
    position: relative; 
    width: 350px; /* eller den bredd du föredrar */
    height: 400px; /* eller den höjd du föredrar */
    margin: auto;
  }

  .article-card-img {
    max-height: 200px;
  }
  
  .date-box {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #F0D082;
    width: 50px;
    height: 60px;
  }
  .tag {
    font-size: 14px;
    text-align: left;
    margin: 10px 0;
  }
  .sub-title {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 5px 0;
  }
  
  .additional-info {
    font-size: 16px;
    color: white;
    margin: 5px 0;
  }
  
  .placeholder-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin: 5px 0;
  }
  .article-card.zoomed {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  .dot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.6); 
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.8;  /* Gör punkten delvis genomskinlig */
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);  /* Lägg till skugga */
  }
  
  .dot.active {
    background-color: black;
  }
